<div class="row center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Agregar empleado</h5>
            </div>
            <div class="card-body">
                <form class="form-group">
                    <div class="row g-2 align-items-center">

                        <div class="col-auto">
                            <label class="form-label">Documento</label>
                        </div>
                        <div class="col-auto">
                            <input  type="text" class="form-control" name="documentNumber" id="documentNumber" placeholder="Documento empleado" required>
                        </div>
                        <div class="col-auto">
                            <label class="form-label">Primer Nombre</label>
                            <input  type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre empleado" required>
                        </div>
                        <div class="col-auto">
                            <label class="form-label">Segundo Nombre</label>
                            <input  type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre empleado" required>
                        </div>
                        <div class="col-auto">
                            <label class="form-label">Primer Apellido</label>
                            <input  type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre empleado" required>
                        </div>
                        <div class="col-auto">
                            <label class="form-label">Segundo Apellido</label>
                            <input  type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido empleado" required>
                        </div>
                        <div class="col-auto">
                            <label class="form-label">Telefono</label>
                            <input type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo empleado" required>
                        </div>
                        <div class="col-auto">
                            <label class="form-label">Correo Electronico</label>
                            <input  type="text" class="form-control" name="salario" id="salario" placeholder="Salario empleado" required>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

</div>